body {
 font-family: Raleway, sans-serif;
}

h1 {
    font-weight: bolder;
}

a {
    text-decoration: none; 
}

footer {
    font-family: Ubunto, monospace;
    font-weight: regular;
    font-size: 13px;
}

.container {
    min-width: 1200px

}